/* Created by: ZoiaB
* Created on: Apr 2023
* This CSS file defines the style for index.php
* ICS2O-Assign-03-PHP-CalorieIntake
*/

body {
  width: 80%;
  margin: 5% 10%;
  background-color: DarkKhaki;
}

h1 {
  padding: 20px;
  background-color: #bc8f8f;
  text-align: center;
  color: hsl(56deg 44% 23%);
}

p {
  background-color: #bc8f8f;
  color: rgb(255 239 213);
  text-align: center;
}

form {
  text-align: center;
}

h3 {
  text-align: center;
  color: rgb(255 239 213);
}

h5 {
  text-align: center;
  color: rgb(255 239 213);
}

iframe {
  background-color: #bc8f8f;
  color: rgb(255 239 213);
  }
